<div class="container mt-5 mb-5" >
  <div class="d-flex justify-content-center row">
      <div class="col-md-10 col-lg-10">
          <div class="border">
              <div class="question bg-white p-3 border-bottom">
                  <div class="d-flex flex-row justify-content-between align-items-center mcq">
                      <h4>MCQ Quiz</h4><span>({{count}} of 5)</span>
                  </div>
              </div>
              <div class="bg-white p-3 border-bottom">
                  <div class="d-flex flex-row align-items-center">
                      <h3 class="">Q{{ count}}. {{ question.question }}</h3>
                      <h5 class="mt-1 ml-2"></h5>
                  </div>
                  <div class="ml-2" >
                    <div>
                      <button mdbBtn (click)="chooseAnswer(question.correct_answer)" class="col-lg-3">
                        {{question.correct_answer}}</button>
                    </div>
                  </div>
                   <div class="ml-2">
                    <div>
                      <button mdbBtn (click)="chooseAnswer(question.incorrect_answers[0])" class="col-lg-3">
                        {{question.incorrect_answers[0]}}</button>
                      </div>
                  </div>
                  <div class="ml-2">
                    <div><button mdbBtn (click)="chooseAnswer(question.incorrect_answers[1])" class="col-lg-3"
                      >{{question.incorrect_answers[1]}}</button></div>
                  </div>
                  <div class="ml-2">
                    <div><button mdbBtn (click)="chooseAnswer(question.incorrect_answers[2])" class="col-lg-3"
                      >{{question.incorrect_answers[2]}}</button></div>
                  </div>
              </div>
              <div class="d-flex flex-row-reverse justify-content-between align-items-center p-3 bg-white">
                  <button mdbBtn color="success" type="button" (click)="onSubmit()"
                  [disabled]="!chosenAnswer">Next</button>
              </div>
          </div>
      </div>
  </div>
</div>

