.lds-dual-ring {
  width: 180px;
  height: 180px;
  position: fixed;
  margin-left:43vw;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 164px;
  height: 164px;
  margin: 18px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #4285f4 transparent #4285f4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
